= render "header"
.single-main
  .single-main__box
    .single-main__box-top
      電話番号の確認
    = form_for(@user,url: adress_signup_index_path, method: :get) do |f|
      .phone-main__box-bottom
        .phone-main__box-bottom__inner
          .phone-main__box-bottom__inner__text
            携帯電話の番号  
          = f.text_field :phonenumber, { class: "second-main__box-bottom__form", placeholder: '例) 09012345678' }
          .phone-main__box-bottom__next
            = f.submit "次へ進む", class: "second-main__box-bottom__next-btn"
          .phone-main__box-bottom__inner__text-1
            電話番号は本人確認や本人確認や不正利用本人確認や不正利用防止のために不正利用防止のために利用します。
            他のユーザーに他のユーザーに公開されることはありません。
      
= render "footer"