.side-bar
  .side-bar__top
    .side-bar__top__content
      .side-bar__top__content__text マイページ
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text お知らせ
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text やることリスト
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text いいね！一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text
        = link_to '出品する', new_trading_path(current_user.id)
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text
        = link_to '出品した商品- 出品中', listing_account_path(current_user.id)
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text
        = link_to '出品した商品- 取引中', listing_progress_account_path(current_user.id)
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text
        = link_to '出品した商品- 売却済み',  completed_account_path(current_user.id)
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 購入した商品- 取引中
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 購入した商品- 過去の取引
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text ニュース一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 評価一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text ガイド
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text お問い合わせ
      .side-bar__top__content__text-1 ＞
  .side-bar__middle
    .side-bar__middle__text メルペイ
    .side-bar__middle__content
      .side-bar__middle__content__text 残高・振り込み申請
      .side-bar__middle__content__text-1 ＞
    .side-bar__middle__content
      .side-bar__middle__content__text ポイント
      .side-bar__middle__content__text-1 ＞

  .side-bar__bottom
    .side-bar__bottom__text 設定
    .side-bar__bottom__content
      .side-bar__bottom__content__text
        = link_to 'プロフィール', profile_home_path(current_user.id)
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 発送元・お届け先住所変更
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text
        = link_to '支払い方法', credit_home_path(current_user.id)
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text メール/パスワード
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text
        = link_to "本人情報", edit_account_path(current_user.id)
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 電話番号の確認
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text
        = link_to 'ログアウト', logout_home_path(current_user.id)
      .side-bar__bottom__content__text-1 ＞