.wraper
  .sell-btn
    .sell-btn__text 出品
    %i.fas.fa-camera
= render "header"

- breadcrumb :credit, class: "breadcrumbs"
= breadcrumbs pretext: "",separator: " &rsaquo; "

.mypage
  = render "side-bar"
  .credit-main
    .credit-main__box-top
      支払い方法
    .credit-main__box__center
      .credit-main__box__center__inner
        .credit-main__box__center__text
          クレジットカード一覧
        = link_to "クレジットカードを追加する", new_card_path, class: "credit-main__box__center__btn"
    .credit-main__box__bottom
      支払い方法について>
 
= render "footer"
