.wrapper
  - if user_signed_in?
    = link_to new_product_path, class: 'sell-btn' do
      .sell-btn__text 出品
      %i.fas.fa-camera


  = render "header"

  .slide_1
    .slide
      = image_tag 'slide.jpg', width: '100%', height: '400px', class: 'slide_img'
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/MIYADSC_3425-3_TP_V.jpg', width: '100%', height: '400px', class: 'slide_img'
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/hawaiiGOPR0043_TP_V.jpg', width: '100%', height: '400px', class: 'slide_img'

  .like-things
    .like-things__frame
      .like-things__frame__text
        .like-things__frame__text いいね！した商品
        .like-things__frame__text-1 すべて見る >
      .like-things__frame__info
        - @product.each do |product|
          - unless user_signed_in?
            = link_to new_user_registration_path(product.id) do
              .like-things__frame__info__product__frame
                .like-things__frame__info__product__frame__logo ￥
                .like-things__frame__info__product__frame__price
                  = number_with_delimiter(product.price)
              = image_tag "#{product.products_images.slice(0).image}", class: "product__image"
              - if product.progress == "交渉中"
                .ribbon-2
                  .ribbon-2__text
                    SOLD
          - else
            = link_to product_path(product.id) do
              .like-things__frame__info__product__frame
                .like-things__frame__info__product__frame__logo ￥
                .like-things__frame__info__product__frame__price
                  = number_with_delimiter(product.price)
              = image_tag "#{product.products_images.slice(0).image}", class: "product__image"
              - if product.progress == "交渉中"
                .ribbon-2
                  .ribbon-2__text
                    SOLD
            
  .category
    .category-border
      .category-border__text 人気のカテゴリー
      .category-border__frame
        .category-border__frame__things レディース
        .category-border__frame__things メンズ
        .category-border__frame__things 家電・スマホ・カメラ
        .category-border__frame__things おもちゃ・ホビー・グッズ

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text レディース新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text メンズ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text 家電・スマホ・カメラ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text おもちゃ・ホビー・グッズ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .category
    .category-border
      .category-border__text 人気のブランド
      .category-border__frame
        .category-border__frame__things シャネル
        .category-border__frame__things ルイ・ヴィトン
        .category-border__frame__things シュプリーム
        .category-border__frame__things ナイキ

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text シャネル新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"
  
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text ルイ・ヴィトン新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text シュプリーム新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text ナイキ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  = render "footer"
