.wrapper
  .sell-btn
    .sell-btn__text 出品
    %i.fas.fa-camera
  = render "header"
  .image-slide
  .like-things
    .like-things__frame
      .like-things__frame__text
        .like-things__frame__text いいね！した商品
        .like-things__frame__text-1 すべて見る >
      .like-things__frame__info
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300
        .like-things__frame__info__product
          .like-things__frame__info__product__frame
            .like-things__frame__info__product__frame__logo ￥
            .like-things__frame__info__product__frame__price 1300

  .category
    .category-border
      .category-border__text 人気のカテゴリー
      .category-border__frame
        .category-border__frame__things レディース
        .category-border__frame__things メンズ
        .category-border__frame__things 家電・スマホ・カメラ
        .category-border__frame__things おもちゃ・ホビー・グッズ
  
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text レディース新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"
      -# .contents.row
        -# %img{src: "#{@products_image.image}"}
     


  
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text メンズ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text 家電・スマホ・カメラ新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew-end
    .ladynew-end-border
      .ladynew-end-border__text
        .ladynew-end-border__text おもちゃ・ホビー・グッズ新着アイテム
        .ladynew-end-border__text-1 もっと見る >
      = render "product-end"

  .category
    .category-border
      .category-border__text 人気のブランド
      .category-border__frame
        .category-border__frame__things シャネル
        .category-border__frame__things ルイ・ヴィトン
        .category-border__frame__things シュプリーム
        .category-border__frame__things ナイキ

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text シャネル新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"
  
  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text ルイ・ヴィトン新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew
    .ladynew-border
      .ladynew-border__text
        .ladynew-border__text シュプリーム新着アイテム
        .ladynew-border__text-1 もっと見る >
      = render "product"

  .ladynew-end
    .ladynew-end-border
      .ladynew-end-border__text
        .ladynew-end-border__text ナイキ新着アイテム
        .ladynew-end-border__text-1 もっと見る >
      = render "product-end"

  = render "footer"
