= render "homes/header"
.wrapper
  .product_main
    - if user_signed_in? && current_user.id == @product.users_id
      .product_main_contents
        .product_main_contents_title
          = @product.name
        .product_main_contents_main
          .product_main_contents_main_left
            .product_main_contents_main_left_top
              .product_main_contents_main_left_top_t{:style => "background-image: url(#{@product_image.image});"}
            .product_main_contents_main_left_bottom
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
          = render "status"

        .product_main_contents_price
          .product_main_contents_price_a
            ¥
          .product_main_contents_price_money
            = @product.price
          .product_main_contents_price_tax
            (税込)
          .product_main_contents_price_fee
            送料込み
        .product_main_contents_description
          = @product.description
      .product_main_frame
        .product_main_frame_edit 編集する
        .product_main_frame_text or
        .product_main_frame_stop 出品を一旦停止する
        = link_to "この商品を削除する" , product_path, method: :delete, class: "product_main_frame_delete"
          
    - else
      .product_main_contents
        .product_main_contents_title
          = @product.name
        .product_main_contents_main
          .product_main_contents_main_left
            .product_main_contents_main_left_top
              .product_main_contents_main_left_top_t{:style => "background-image: url(#{@product_image.image});"}
            .product_main_contents_main_left_bottom
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
              .product_main_contents_main_left_bottom_1
          = render "status"

        .product_main_contents_price
          .product_main_contents_price_a
            ¥
          .product_main_contents_price_money
            = @product.price
          .product_main_contents_price_tax
            (税込)
          .product_main_contents_price_fee
            送料込み
        .product_main_contents_text
        = link_to "購入画面に進む", buy_product_path, class: "product_main_contents_buy_btn"
        .product_main_contents_description
          = @product.description
        .product_main_contents_item_btn
          .product_main_contents_item_btn_left
            .product_main_contents_item_btn_left_like
              ♡ いいね！4
            .product_main_contents_item_btn_left_report
              %i.far.fa-flag 不適切な商品の報告
          .product_main_contents_item_btn_right
            %i.fas.fa-lockあんしん・あんぜんへの取り組み

    .product_main_center
      .product_main_center_caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .product_main_center_text
        = text_field_tag "family-name", "コメント",{class: "text"} 
      .product_main_center_btn
        = link_to " コメントする"
    .product_main_next
      .product_main_next_l
        < 次の商品
      .product_main_next_r
        次の商品 >
    .product_main_sns
      .product_main_sns_box
        .product_main_sns_box_face
          %i.fab.fa-facebook-square
        .product_main_sns_box_twitter
          %i.fab.fa-twitter-square
        .product_main_sns_box_line
          %i.fab.fa-line
= render "homes/footer"